<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Congrats</title>
</head>
<body>
    <h2>Los datos se han almacenado con exito puede revisar el listado para comprobar.</h2>
    <br>
    <form th:action="@{/index}" method="POST">
        <input type="submit" value="Seguir ingresando contribuyentes">
    </form>
    <br>
    <form th:action="@{/listado}" method="POST">
        <input type="submit" value="Revisar lista de contribuyentes">
    </form>
</body>
</html>